
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');


* {
    padding: 0;
    margin: 0;
    font-family: 'Bebas Neue', serif;
}

a {
    text-decoration: none;
  }

body {
    font-size: 100%;
    overflow-x: hidden;
}

button:hover {
    cursor: pointer;
}

.container {
    max-width: 1440px;
    margin: 0 auto;
    height: 100%;
}

a:hover {
    cursor: pointer;
}

.header {
    margin: 0 auto;
    background: url(img/bg1.png) no-repeat center;
    padding: 3%;
    height: 960px;
    z-index: 9;
    object-fit: fill;
    background-size: cover;
}

.header-wrapper {
    width: 90%;
    display: flex;
    margin: 0 auto;
    align-items: center;
    justify-content: space-between;
}

.header-nav {
    display: flex;
    flex-direction: column;
}

.logo {
    width: 10%;
    height: 10%;
    max-width: 55px;
}

.navigation {
    display: flex;
    justify-content:center;
    width: 100%;
    gap: 4%;
}

.nav-item {
    font-size: 90%;
    color: white;
    font-family: 'Open Sans', sans-serif;
    font-weight: bold;
    text-transform: uppercase;
    text-decoration: none;
}

.nav-item:hover,
.nav-item:active {
    font-size: 90%;
    color: #FFB548;
    font-family: 'Open Sans', sans-serif;
    font-weight: bold;
    text-transform: uppercase;
}

.header-links {
    display: flex;
    gap: 20%;
}

.link-item {
    width: 50%;
    max-width: 31px;
}

.header-content {
    width: max-content;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 20% auto 0;
}

.main-text {
    color: white;
    font-size: 500%;
}

.main-subtitle {
    color: white;
    font-size: 180%;
    margin-top: -4%;
}

.buy-btn {
    color: black;
    background-color: #FFB548;
    border: none;
    border-radius: 5px;
    font-size: 100%;
    font-family: 'Open Sans', sans-serif;
    font-weight: bold;
    padding: 3% 7%;
    margin-top: 5%;
}

.block1 {
    display: flex;
    color: white;
    background: url(img/bg2.png)  no-repeat center;
    background-size: cover;
    width: 100%;
    margin: auto;
    height: 960px;
    justify-content: space-around;
    align-items: center;
    overflow: hidden;
    padding: 10% 0;
}

.block1-text {
    display: flex;
    flex-direction: column;
    width: 40%;
    justify-content: space-around;
    z-index: 9;
}

.b1-whats {
    font-size: 150%;
    text-transform: uppercase;
}

.b1-answ {
    font-size: 500%;
    text-transform: uppercase;
    width: fit-content;
    display: flex;
}

.b1-right-text {
    display: flex;
    flex-direction: column;
    width: 60%;
    position: relative;
    margin-top: 10%;
}

.b1-right-text>p {
    font-weight: 400;
    font-size: 115%;
    font-family: 'Open Sans', sans-serif;
}

.slider>img {
    width: 430px;
}

.block2 {
    display: flex;
    background: url(img/bg3.png)  no-repeat center;
    background-size: cover;
    width: 100%;
    height: 960px;
    color: white;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.b2-wrapper {
    width: 40%;
}

.whats-special {
    font-size: 150%;
    text-transform: uppercase;
}

.features {
    font-size: 500%;
    text-transform: uppercase;
    margin-bottom: 8%;
}

.text-group {
    display: flex;
    flex-direction: column;
}

.feat-item {
    display: flex;
    align-items: center;
    align-self: flex-end;
    margin-top: 5%;
}

.feat-item-ico {
    width: 14px;
    height: 14px;
    margin-right: 2%;
}

.feat-item-text {
    color: #FFB548;
    font-size: 220%;
    text-transform: uppercase;
    display: flex;
    align-items: center;
}

.feat-item-desc {
    font-size: 120%;
    font-weight: 400;
    font-family: 'Open Sans', sans-serif;
    margin-bottom: 4%;
    margin-right: 10%;
    text-align: start;
}

.block3 {
    display: flex;
    flex-direction: column;
    background: url(img/bg4.png)  no-repeat center;
    background-size: cover;
    color: white;
    height: 960px;
    align-items: center;
    justify-content: center;
}

.b3-text-group {
    width: fit-content;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 15% auto 0;
}

.can-my-pc {
    font-size: 150%;
    text-transform: uppercase;
}

.system-req {
    text-transform: uppercase;
    font-size: 500%;
}

.sys-req {
    width: 50%;
    position: relative;
    margin-top: 10%;
}

table, th, td {
    border: 1px solid #d8d8d841;
    border-collapse: collapse;
    border-radius: 5px;
    padding: 2%;
}

.td-header {
    color:#FFB548;
    text-transform: uppercase;
    font-size: 180%;
}

.td-content {
    font-size: 140%;
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
}

.block4 {
    background: url(img/bg5.png) no-repeat center;
    background-size: cover;
    height: 960px;
    color: white;
    margin: 0 auto;
    padding: 10% 10% 0 10%;
    display: flex;
    overflow: hidden;
    max-width: 1440px;
    justify-content: space-between;
    align-items: center;
}

.b4-text {
    display: flex;
    flex-direction: column;
    height: fit-content;
    width: 40%;
}

.b4-text>button {
    width: 70%;
}

.what-people-think {
    font-size: 150%;
}

.press-quotes {
    font-size: 500%;
    width: fit-content;
}

.press-quotes-desc {
    font-family: 'Open Sans', sans-serif;
    font-size: 120%;
    font-weight: 400;
    margin-top: 5%;
    margin-bottom: 10%;
}

.b4-quotes {
    display: flex;
    flex-direction: column;
    width: 40%;
    justify-content: center;
    gap: 3%;
    height: 100%;
}

.quote {
    background-color: rgba(3, 2, 2, 0.63);
    display: flex;
    flex-direction: column;
    padding: 2%;
    border-radius: 15px;
    position: relative;
}

.left-text {
    display: flex;
    width: 100%;
    gap: 2%;
    align-items: center;
}

.user-info {
    display: flex;
}

.user-ico {
    width: 17%;
}

.user-name {
    font-size: 150%;
    color: #FFB548;
    white-space: nowrap;
}

.user-pos {
    font-family: 'Open Sans', sans-serif;
    font-size: 120%;
    color: #ffffff4f;
    white-space: nowrap;
    text-transform: uppercase;
}

.twitter-ico {
    width: 18px;
    height: 14px;
    align-self: flex-start;
    margin-top: 1%;
    margin-right: 1%;
}

.comment-text {
    font-family: 'Open Sans', sans-serif;
    font-size: 100%;
    margin: 7% 2%;
}

.when {
    font-family: 'Open Sans', sans-serif;
    font-size: 90%;
    margin: 0 0 0 2%;
    color: #d8d8d841;
}

.block5 {
    background-color: #000000;
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    height: 960px;
    align-items: center;
    justify-content: space-around;
    color: white;
}

.b5-content {
    display: flex;
    width: 100%;
    justify-content: space-around;
    align-items: center;
    margin: 10% auto;
}

.b5-text {
    width: 50%;
}

.subtitle {
    font-size: 24px;
}

.title {
    font-size: 500%;
    display: flex;
    max-width: fit-content;
}

.desc {
    font-family: 'Open Sans', sans-serif;
    font-size: 120%;
    font-weight: 400;
    margin-top: 5%;
    margin-bottom: 10%;
    width: 70%;
}

.input-and-btn {
    display: flex;
    gap: 5%;
}

.email-papper {
    color: white;
    background-color: rgba(255, 255, 255, 0.075);
    border: none;
    border-radius: 5px;
    font-size: 100%;
    font-family: 'Open Sans', sans-serif;
    font-weight: bold;
    padding: 3% 7%;
    margin-top: 5%;
}

.sub-now-btn {
    color: black;
    background-color: #FFB548;
    border: none;
    border-radius: 5px;
    font-size: 100%;
    font-family: 'Open Sans', sans-serif;
    font-weight: bold;
    padding: 3% 7%;
    margin-top: 5%;
}

.sub-now-btn:active {
    background-color: #af7e35;
}

.footer {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.footer-logo {
    width: 10%;
    max-width: 55px;
}

.footer-group-1 {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
}

.footer-nav {
    display: flex;
    width: 50%;
    justify-content: space-between;
    gap: 2%;
}

.footer-nav-item {
    font-size: 80%;
    color: white;
    font-family: 'Open Sans', sans-serif;
    font-weight: bold;
    text-transform: uppercase;
}

.footer-soc {
    display: flex;
    width: 5%;
    justify-content: space-between;
    gap: 10%
}

.footer-soc-item {
    max-width: 24px;
}

.stick {
    width: 95%;
    height: 1px;
    background-color: #ffffff2d;
    margin: 1% auto;
}

.footer-group-2 {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 95%;
    margin: 1% auto;
}

.footer-text {
    font-size: 50%;
    font-family: 'Open Sans', sans-serif;
    font-weight: bold;
}

.copyright {
    color: #ffffff5c;
    font-weight: 400;
}

.skull {
    width: 300px;
    max-width: 30%;
}

@media (max-width: 890px) {
    .input-and-btn {
        display: flex;
        flex-direction: column;
        width: 70%;
    }
    .footer-soc {
        width: 8%;
    }
    .press-quotes-desc {
        width: 100%;
    }
    .sys-req {
        left: 0;
    }
    .b4-text {
        width: 50%;
    }
    .sys-req {
        margin: 10% auto;
        width: 90%;
    }
    .slider>img {
        width: 300px;
    }
    .b1-answ {
        width: 100%;
        white-space: nowrap;
    }
    .b1-right-text {
        width: 100%;
        left: 0;
    }
    .b1-right-text>p {
        width: 100%;
    }
    .footer-nav {
        width: 60%;
    }
}

@media (max-width: 800px) {
    .block1 {
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
    }
    .skull {
        margin: 5% auto;
    }
    .b5-content {
        flex-direction: column-reverse;
    }
    .b5-text, .skull {
        left: 0;
    }
    .b5-text {
        width: 80%;
    }
    .title {
        margin: 0 auto;
    }
    .block5 {
        height: 100%;
    }
    .b5-content>* {
        text-align: center;
    }
    .input-and-btn {
        margin: 0 auto;
    }
    .block1>* {
        margin: 0 auto;
    }
    .b1-right-text {
        width: 60%;
        margin: 0 auto;
    }
    .b1-right-text>p {
        text-align: justify;
    }
    .block1-text {
        width: fit-content;
    }
    .b1-whats, .b1-answ{
        text-align: center;
        width: fit-content;
        margin: 0 auto;
    }
    .desc {
        margin: 0 auto;
    }
    .desc {
        text-align: justify;
    }
    .navigation, .footer-nav {
        display: none;
    }
}

@media (max-width: 700px) {
    body {
        font-size: 90%;
    }
    .footer-group-2 {
        flex-direction: column-reverse;
    }
    .b2-wrapper {
        width: 100%;
    }
    .b2-wrapper>* {
        margin: 0 auto;
        width: fit-content;
    }
    .text-group {
        width: 70%;
    }
    .feat-items {
        width: 70%;
        position: relative;
        left: 10%;
        align-items: center;
        justify-content: center;
    }
    .feat-item {
        width: 100%;
    }
    .system-req {
        text-align: center;
        margin-top: 2%;
    }
    .block4 {
        flex-direction: column;
        height: 130%;
    }
    .b4-text {
        align-items: center;
        width: 90%;
        justify-content: center;
    }
    .what-people-think, .press-quotes {
        text-align: center;
        width: 100%;
    }
    .press-quotes-desc {
        text-align: justify;
    }
    .b4-quotes {
        margin-top: 5%;
        width: 90%;
        margin-bottom: 30%;
    }
    .quote {
        margin-top: 10%;
    }
    .footer-group-1 {
        width: 90%;
        justify-content: space-between;
        margin: 0 auto;
    }
    .footer-soc {
        gap: 20%;
        width: max-content;
    }
}

@media (max-width: 600px) {
    body {
        font-size: 70%;
    }
    .header-content {
        width: fit-content;
    }
    .main-text {
        text-align: center;
    }
    .main-subtitle {
        margin-top: -1%;
        text-align: center;
    }
}

.carousel {
    position: relative;
    z-index: 1;
    height: 600px;
    pointer-events: none;
    background-repeat: no-repeat;
    background-position: 50% 50%;
    background-size: cover;
    box-shadow: 0 4px 12px rgba(0,0,0,0.2), 0 16px 20px rgba(0,0,0,0.2);
    line-height: 1.3;
    margin: 20px 0;
}
.carousel-item {
    --width: clamp(150px, 30vw, 300px);
    --height: clamp(200px, 40vw, 400px);
    --x: calc(var(--active) * 80% * var(--items));
    --y: calc(var(--active) * 20% * var(--items));
    --rot: calc(var(--active) * 120deg);
    --opacity: calc(var(--zIndex) / var(--items) * 3 - 2);
    overflow: hidden;
    position: absolute;
    z-index: var(--zIndex);
    width: var(--width);
    height: var(--height);
    margin: calc(var(--height) * -0.5) 0 0 calc(var(--width) * -0.5);
    border-radius: 10px;
    top: 50%;
    left: 50%;
    user-select: none;
    transform-origin: 0 100%;
    box-shadow: 0 10px 50px 10px rgba(0, 0, 0, 0.5);
    background: black;
    pointer-events: all;
    transform: translate(var(--x), var(--y)) rotate(var(--rot));
    transition: transform 0.8s cubic-bezier(0, 0.02, 0, 1);
}
.carousel-item .carousel-box {
    position: absolute;
    z-index: 1;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transition: opacity 0.8s cubic-bezier(0, 0.02, 0, 1);
    opacity: var(--opacity);
    font-family: 'Roboto', sans-serif;
}
.carousel-item .carousel-box:before {
    content: "";
    position: absolute;
    z-index: 1;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0) 30%, rgba(0, 0, 0, 0) 50%, rgba(0, 0, 0, 0.5));
}
.carousel-item .carousel-title {
    position: absolute;
    z-index: 1;
    color: #fff;
    bottom: 18px;
    left: 20px;
    transition: opacity 0.8s cubic-bezier(0, 0.02, 0, 1);
    font-size: clamp(16px, 3vw, 20px);
    text-shadow: 0 0 12px rgba(0,0,0,0.5), 0 2px 6px rgba(0,0,0,0.7); 
}
.carousel-item .num {
    position: absolute;
    z-index: 1;
    color: #BFE2FF;
    top: 10px;
    left: 20px;
    transition: opacity 0.8s cubic-bezier(0, 0.02, 0, 1);
    font-size: clamp(20px, 10vw, 50px);
    font-weight: bold;
    text-shadow: 0 0 12px rgba(0,0,0,0.5), 0 2px 6px rgba(0,0,0,0.7); 
}
.carousel-item img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    pointer-events: none;
}