
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');


* {
    padding: 0;
    margin: 0;
    font-family: 'Bebas Neue', serif;
}

a {
    text-decoration: none;
  }

body {
    font-size: 100%;
    overflow-x: hidden;
}

button:hover {
    cursor: pointer;
}

.container {
    max-width: 1440px;
    margin: 0 auto;
    height: 100%;
    background-color: #000000;
}

.header {
    margin: 0 auto;
    background: url(../img/bg2.png) no-repeat center;
    padding: 3%;
    height: 960px;
    z-index: 9;
    object-fit: fill;
    background-size: cover;
}

.header-wrapper {
    width: 90%;
    display: flex;
    margin: 0 auto;
    align-items: center;
    justify-content: space-between;
}

.header-nav {
    display: flex;
    flex-direction: column;
}

.logo {
    width: 10%;
    height: 10%;
    max-width: 55px;
}

.navigation {
    display: flex;
    justify-content:center;
    width: 100%;
    gap: 4%;
}

.nav-item {
    font-size: 90%;
    color: white;
    font-family: 'Open Sans', sans-serif;
    font-weight: bold;
    text-transform: uppercase;
    text-decoration: none;
}

.nav-item:hover,
.nav-item:active {
    font-size: 90%;
    color: #FFB548;
    font-family: 'Open Sans', sans-serif;
    font-weight: bold;
    text-transform: uppercase;
}

.header-links {
    display: flex;
    gap: 20%;
}

.link-item {
    width: 50%;
    max-width: 31px;
}

.header-content {
    width: max-content;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 2%;
    width: 100%;
}

.main-text {
    color: white;
    font-size: 500%;
    display: flex;
}

.main-subtitle {
    color: white;
    font-size: 180%;
    margin-top: -4%;
}

.buy-btn {
    color: black;
    background-color: #FFB548;
    border: none;
    border-radius: 5px;
    font-size: 100%;
    font-family: 'Open Sans', sans-serif;
    font-weight: bold;
    padding: 3% 7%;
    margin-top: 5%;
}

.footer {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.footer-logo {
    width: 10%;
    max-width: 55px;
}

.footer-group-1 {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
}

.footer-nav {
    display: flex;
    width: 50%;
    justify-content: space-between;
    gap: 2%;
}

.footer-nav-item {
    font-size: 80%;
    color: white;
    font-family: 'Open Sans', sans-serif;
    font-weight: bold;
    text-transform: uppercase;
}

.footer-soc {
    display: flex;
    width: 5%;
    justify-content: space-between;
    gap: 10%
}

.footer-soc-item {
    max-width: 24px;
}

.stick {
    width: 95%;
    height: 1px;
    background-color: #ffffff2d;
    margin: 1% auto;
}

.footer-group-2 {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 95%;
    margin: 1% auto;
}

.footer-text {
    font-size: 50%;
    font-family: 'Open Sans', sans-serif;
    font-weight: bold;
}

.copyright {
    color: #ffffff5c;
    font-weight: 400;
}

.card-slider {
    width: 100%;
    margin-top: 5%;
}

.card-slider-viewport {
    display: flex;
    overflow-x: scroll;
    gap: 40px;
}
.card-slider-viewport:nth-last-child(n) {
    margin-right: 40px;
}
.card-slider-viewport:nth-child(1) {
    margin-left: 40px;
}
.card-slider-viewport::-webkit-scrollbar {
    display: none;
}

.card-slider-item {
    display: flex;
    flex-direction: column;
    align-content: space-between;
    justify-content: space-between;
    background-color: #000000a6;
    padding: 3% 5%;
    border-radius: 30px;
}

.card-slider-item-name {
    color: white;
    font-size: 200%;
}

.card-slider-item-img {
    max-width: 250px;
}

.card-slider-item-payment {
    margin-top: 5%;
    display: flex;
    width: 100%;
    justify-content: space-between;
}

.card-slider-item-price {
    color: white;
    font-size: 180%;
}

.card-slider-item-discount {
    color: #FFB548;
    font-size: 180%;
}

.card-info {
    margin-top: 5%;
    display: flex;
    width: 80%;
    background-color: #000000da;
    border-radius: 30px;
    padding: 5% 7%;
}

.card-img {
    max-width: 250px;
}
.card-info-payment {
    width: 100%;
    align-self: flex-end;
    justify-self: flex-end;
}
.card-info-text-g {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.card-text {
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 5%;
    align-items: center;
    width: 80%;
    margin: 0 2%;
}
.card-info-name {
    color: white;
    font-size: 220%;
}
.card-info-desc {
    color: white;
    font-size: 140%;
    margin-top: 2%;
}
.card-info-price {
    color: white;
    font-size: 200%;
}
.card-info-discount-g {
    display: flex;
    width: 100%;
    justify-content: space-between;
}
.card-info-name-g > img {
    width: 32px;
    height: 32px;
}
.card-info-name-g > img:hover {
    cursor: pointer;
}
.card-info-discount {
    color: #FFB548;
    font-size: 200%;
}
.card-info-name-g {
    width: 100%;
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
}
.card-info-discountprice {
    color: #FFB548;
    font-size: 200%;
}

@media (max-width: 890px) {
    .footer-nav {
        width: 60%;
    }
}

@media (max-width: 800px) {
    .navigation, .footer-nav, .footer-logo {
        display: none;
    }
    .footer-soc {
        width: 90%;
        align-items: center;
        justify-content: end;
    }
}

@media (max-width: 700px) {
    body {
        font-size: 90%;
    }
    .footer-group-2 {
        flex-direction: column-reverse;
    }
    .footer-group-1 {
        width: 90%;
        justify-content: space-between;
        margin: 0 auto;
    }
    .footer-soc {
        gap: 20%;
        width: max-content;
    }
}

@media (max-width: 600px) {
    body {
        font-size: 70%;
    }
    .header-content {
        width: fit-content;
    }
    .main-text {
        text-align: center;
    }
    .main-subtitle {
        margin-top: -1%;
        text-align: center;
    }
}

.sub-now-btn {
    color: rgba(0, 0, 0, 0.692);
    background-color: #FFB548;
    border: none;
    border-radius: 5px;
    font-size: 120%;
    font-family: 'Open Sans', sans-serif;
    font-weight: bold;
    padding: 3% 7%;
}

.sub-now-btn:active {
    background-color: #af7e35;
}

.input-and-btn {
    display: flex;
    gap: 5%;
    margin-top: 15%;
}

.money-papper {
    color: white;
    background-color: rgba(255, 255, 255, 0.075);
    border: none;
    border-radius: 5px;
    font-size: 120%;
    font-family: 'Open Sans', sans-serif;
    font-weight: bold;
    padding: 3% 7%;
}

.delete {
    font-size: 90%;
    color: white;
    font-family: 'Open Sans', sans-serif;
    font-weight: bold;
    text-transform: uppercase;
    text-decoration: none;
}
.delete:hover,
.delete:active {
    font-size: 90%;
    color: #FFB548;
    font-family: 'Open Sans', sans-serif;
    font-weight: bold;
    text-transform: uppercase;
}